

{% assign evenOdd = content.entryNumber | modulo: 2 %}
{% if fullWidth %}
{% assign color_group = styles.color_group %}
{% capture entryHeading %}
    content:
        highlightEyebrow: {{content.heading.content.highlightEyebrow}}
        eyebrow: {{content.heading.content.eyebrow | stringifyFilter}}
        headline: {{content.heading.content.headline | stringifyFilter}}
        description: {{content.heading.content.description | stringifyFilter}}
        headingHierarchy: "h3"
        buttons:
          {{content.heading.content.buttons | json}}
    styles:
        contentAlignment: {{content.heading.styles.contentAlignment}}
        textAlignment: {{content.heading.styles.textAlignment}}
        visualInterest: {{content.heading.styles.visualInterest}}
        visualInterestColor: "{{content.heading.styles.visualInterestColor}}"
        highContrast: true
        contrastColorGroup: "{{styles.color_group}}"
        contrastAgainst: "{{styles.colorFromGroup}}"
{% endcapture %}
{% else %}
{% capture entryHeading %}
    content:
        highlightEyebrow: {{content.heading.content.highlightEyebrow}}
        eyebrow: {{content.heading.content.eyebrow | stringifyFilter}}
        headline: {{content.heading.content.headline | stringifyFilter}}
        description: {{content.heading.content.description | stringifyFilter}}
        headingHierarchy: "h3"
        buttons:
          {{content.heading.content.buttons | json}}
    styles:
        contentAlignment: {{content.heading.styles.contentAlignment}}
        textAlignment: {{content.heading.styles.textAlignment}}
        visualInterest: {{content.heading.styles.visualInterest}}
        visualInterestColor: "{{content.heading.styles.visualInterestColor}}"
{% endcapture %}
{% endif %}
  {% assign entryHeading = entryHeading | ymlify %}
  {% if fullWidth %}
    {% capture containerClasses %}
        flex md:mt-0 mt-24
        {% if evenOdd == 0 %}md:flex-wrap flex-wrap-reverse{% else %}flex-wrap-reverse{% endif %} 
    {% endcapture %}
    {% capture textClasses %}
        {% if evenOdd == 0 %} order-1 lg:cs-w-full-r  {% else %} lg:cs-w-full-l {% endif %} w-full p-4 lg:p-8 md:cs-w-full  flex justify-center items-center min-w-[300px] bg-{{styles.color_group}}-{{styles.colorFromGroup}}color bg-opacity-100 md:bg-opacity-70  lg:bg-opacity-100
    {% endcapture %}
    {% capture imageDivClasses %}
        {% if evenOdd == 0 %} order-1 lg:cs-w-full-l  {% else %} lg:cs-w-full-r {% endif %} -z-10 md:cs-w-full   flex items-end justify-center 
    {% endcapture %}
    {% else %}
    {% comment %} No full width {% endcomment %}
    {% capture containerClasses %}
        {% unless content.entryNumber ==1 or content.entryNumber ==0 %}
        mt-24 lg:mt-36
        {% endunless %}
        flex gap-x-10 gap-y-4  lg:gap-20 items-center 
        {% if evenOdd == 0 %}flex-wrap {% else %}flex-wrap-reverse{% endif %}
    {% endcapture %}
    {% capture textClasses %}
    {% if evenOdd == 0 %}order-1{% endif %} flex-1 flex justify-center items-center min-w-[300px]
    {% endcapture %}
    {% capture imageDivClasses %}
        flex-1 w-full min-w-[275px]
    {% endcapture %}
    {% capture imageClasses %}
        object-cover object-center w-full {{theme.image_rounding}} aspect-[3/2]
    {% endcapture %}
  {% endif %}
<div class="c-leftRight {{containerClasses}}">
    
    <div class="{{textClasses}}">{% bookshop "generic/heading" bind: entryHeading %}</div>
    <div class="{{imageDivClasses}}">{% bookshop "generic/image" bind: content.image class: imageClasses %}</div>
</div>

